<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628020005413-o8ja0fest6lvf37aic0uatm6q3i0enu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628020005413-o8ja0fest6lvf37aic0uatm6q3i0enu6</string>
	<key>API_KEY</key>
	<string>AIzaSyAP_iN0SUhVM47ltCQ5fDlyD6qTspHSuU4</string>
	<key>GCM_SENDER_ID</key>
	<string>628020005413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spontaneous</string>
	<key>PROJECT_ID</key>
	<string>spontaneous-bsw</string>
	<key>STORAGE_BUCKET</key>
	<string>spontaneous-bsw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628020005413:ios:41821a198778023bdacdcc</string>
</dict>
</plist>